
	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 0px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}
        /*
         Header =============================================================
        */
        #header {
            background: #242424;
        }
        #header h1 {
            width:1024px;
            margin:0 auto;
            padding:40px 0px;
            color:#fff;
        }
        /*
         Main =============================================================
        */
        #mainWrap {
            width:1024px;
            margin:0 auto;
            margin-top:20px;
        }
        
        .errorWrap {
            width:100%;
            text-align: center;
            color:#f14b4b;
        }
        .formWrap {
            border:5px solid #eaeaea;
            padding:0px 30px 30px 30px;
            width:700px;
            margin:0 auto;
        }
        .formWrap h2 {
            background: #eaeaea;
            padding:15px 0px;
            margin-lefT:-30px;
            margin-top:0px;
            padding-left:30px;
            width:730px;
        }
        .formWrap h2 span {
            float:right;
            font-size: 12px;
            padding-right:20px;
        }
        .formWrap p {
            font-size:26px;
            font-family: myriad pro;
            margin-top:40px;
        }
        .formWrap input[type=text] {
            padding:5px 5px;
            width:690px;
        }
        .formWrap input[type=submit] {
            padding:5px 20px;
        }